<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project 2 Add Card</title>
  </head>
  <body>
    <h1>Add Flash Card</h1>

    <form>
      <form action="/addCard.php">
      <label for="genericName">Generic Name:</label><br>
      <input type="text" id="genericName" name="genericName"><br><br>
      <label for="brandName">Brand Name:</label><br>
      <input type="text" id="brandName" name="brandName"><br><br>
      <label for="dosageRoute">Dosage Route:</label><br>
      <input type="text" id="dosageRoute" name="dosageRoute"><br><br>
      <label for="sideEffects">Side Effects:</label><br>
      <input type="text" id="sideEffects" name="sideEffects"><br><br>

      <hr>
      <input type="submit" value="Submit">
    </form>



  </body>
</html>
