<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page </title>
  </head>
  <body>
    <h1>Hello from Homepage</h1>
    <h2> Welcome <%= username %></h2>
    <h2>This is an ejs</h2>
  </body>
</html>
